* { box-sizing: border-box;
}

.nav {
    position: static;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding-top: 5px;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 0px 2px #7F479626;
    border-bottom-width: thin;
}

ul {
    position: static;
    padding-top: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footer {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 50px;
    position: relative;
    clear: both;
}

.black {
    color: #000000;
}

.nav1 {
    position: static;
    float: left;
    padding-top: 35px;
}

.nav2 {
    position: static;
    padding-top: 35px;
    float: right;
}

h1 {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 104px;
}

h2 {
    font-family: 'Roboto mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding-top: 30px;
    padding-left: 30px;
}

h3 {
    font-family: 'Roboto mono', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    text-align: right;
    list-style-position: inside;
}

h4 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: right;
}

h5 {
    font-family: 'Roboto mono', sans-serif;
    font-size: large;
    text-transform: uppercase;
    font-style: normal;
    text-align: left;
    list-style-position: inside;
}
h6 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    margin-left: -80px;
}

.bio {
    max-height: 500px;
    overflow: scroll;
    text-align: justify;
    margin-right: 30px;
    margin-top: 45px;
    display: block;
}
.imgbio {
    margin-left: -80px;
}
p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}

#about {
    max-height: 650px;
    float: left;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-top: 30px;
    clear: left;
    display: flex
}

h4 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.TITULOS {
    display: flex;
    margin: 30px;
}

header {
    position: static;
}

@media screen and (max-width: 900px) {
    .bio,
    #about {
        width: 100%;
        float: none
    }

    .nav {
        display: list-item;
    }

    .menu {
        display: list-item;
    }
}

.bloque01 {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-width: 30px;
}

a {
    text-decoration: none;
    color: #000000;
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 24px;
    margin-right: 20px;
    text-align: end;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Corrección en la definición de columnas */
    grid-gap: 20px;
}


.section {
    padding: 20px;

}

.section img {
    max-width: 100%;
}

.footer {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 30px;
    position: relative;
    clear: both;
}

.black {
    color: #000000;
}

/* Estilos para el menú de hamburguesa */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-icon {
    background-color: black;
    width: 30px;
    height: 3px;
    margin: 3px 0;
}

@media screen and (max-width: 800px) {
    .menu {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .navbar.open {
        background-color: rgb(0, 0, 0);
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1;
        width: 100%;
    }

    .menu.open {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.content {
    display: flex;
    /* align-items: flex-start; */
    
} 

/* Estilos para el carrusel */
.swiper {
    max-width: 600px;
    max-height: 600px;
    display: flex; /* Utilizamos flexbox para centrar vertical y horizontalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    border: 1px solid #ccc; /* Añade un borde para visualizar el contenedor */
}

.swiper img {
    max-width: 100%; /* Para asegurarse de que la imagen no exceda el tamaño del contenedor */
    max-height: 100%; /* Para asegurarse de que la imagen no exceda el tamaño del contenedor */
    display: block; /* Asegura que la imagen se comporte correctamente */
}
.seleccion {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    }
    .seleccion:hover {
    background-color: #e0e0e0;
    }
    .seleccion:active {
        background-color: #a0a0a0;
    }
    button {
        appearance: auto;
        font-weight: 500px;
        font-size: 24px;
        font-family: 'Lato', sans-serif;
        color: white;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        box-sizing: border-box;
        background-color: 
        #E57389;
        margin: 0em;
        padding: 10px 15px; /* Ajusta el relleno según sea necesario */

        border-radius: 10px; /* Bordes redondeados */
    }
      /* Cambio de color al estar activo */
    button:active {
        background-color: #643777; /* Cambia el color al hacer clic */
    }
    .descarga {
        display: flex;
        justify-content: center;
      }
      
