h1 {
font-size: 88px;
text-align: center;
}
.center {
    text-align: center;
    font-family: 'Roboto mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding-top: 30px;
    padding-left: 30px;
}
h3 {
    text-align: start;
    margin-left: 10%;
}
p {
    margin: 5%;
}

.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    max-height: 700px;
}

.swiper img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}


